<ion-header mode="md">
  <ion-toolbar color="primary">
    <ion-title color="light">
      My Wish List
    </ion-title>
  <ion-buttons slot="end">
    <ion-button color="light" shape="round" fill="solid" expand="block" routerLink="/tabs/tab1/add-form" >
      Add item
      <ion-icon slot="end" color="success" name="add"></ion-icon>
    </ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-toolbar>
      <ion-list>
          <ion-item slot="start">
            <ion-select value="all" okText="Okay" cancelText="Dismiss" >
              <ion-select-option value="all">All</ion-select-option>
              <ion-select-option value="technology">Technology</ion-select-option>
              <ion-select-option value="food">Food</ion-select-option>
              <ion-select-option value="clothes">Clothes</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
  </ion-toolbar> 


  <ion-list #myList>
   
      <ion-item-sliding *ngFor="let item of items" [routerLink]="['/tabs/tab1', item.id]">
        <ion-item >
            <ion-avatar slot="start">
                <img [src]="item?.imageUrl">
              </ion-avatar>
          <ion-label >
            <h2>{{ item.title }}</h2>
            <ion-text color="secondary">
              <p>{{ item.description }}</p>
             </ion-text> 
             <p>{{ item.category }}</p>
          </ion-label>
          <ion-item-option slot="end" color="danger" (click)="deleteItem(item)" >
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-item-option>
        </ion-item>
    </ion-item-sliding>

  </ion-list>
</ion-content>
